/* Shared styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.btn-primary{
    font-size: 16px;
    font-weight: 600;
    padding: 12.5px 16px;
    border-radius: 4px;
    background-color:  #30B868;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #279e58;
}
.color-white{
    color: white;
}
.color-green{
    color: rgba(48, 184, 104, 1)
}

.heading-title{
    font-size: 48px;
    font-weight: 700;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.heading-des{
    font-size: 16px;
    font-weight: 400;
    color: rgba(98, 115, 130, 1);
}
/* Nav Styles */
nav{
    margin: 16px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}

nav ul a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.9;
}

/* banner styles */

#banner{
    background: url(../assets/hero-bg.png);
    max-width: 1600px;
    height: 674px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-content{
    max-width: 1360px;
    max-height: 295px;
    text-align: center;
}
.early-access{
    display: flex;
    border-radius: 1000px;
    padding: 8px 12px;
    background: rgba(255, 255, 255, 1);
    max-width: 229px;
    max-height: 35px;
    margin: 0 565.5px 16px;
    gap: 6px;
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
}

.banner-title{
    margin: 0 295px 16px;
    max-width: 770px;
    max-height: 168px;
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
}
.banner-description{
    font-size: 18px;
    font-weight: 400;
    align-items:center;
    margin-bottom: 32px;
}
.btn-banner{
    font-size: 16px;
    align-items: center;
    display: flex;
    gap: 10px;
    font-weight: 600;
    padding: 12.5px 8px;
    border-radius: 4px;
    background-color:  #30B868;
    color: white;
    border: none;
    cursor: pointer;
}
.btn-banner:hover {
    background-color: #279e58;
}
.btn-banner-2{
    font-size: 16px;
    display: flex;
    gap: 10px;
    font-weight: 600;
    padding: 12.5px 16px;
    border-radius: 4px;
    background: none;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
}
.btn-banner-2:hover {
    background-color: #279e58;
}

.btn{
    display: flex;
    justify-content: center;
    margin: 0 447.5px;
    gap: 16px;
}

/* card design */
.card-container{
    padding: 69.5px 24px ;
    max-width: 322px;
    max-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

    
}

.img-container{
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
    background: rgba(249, 85, 85, 1);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card-title{
    text-align: center;
    margin: 16px 0;
    font-size: 24px;
    font-weight: 600;
    color: rgba(0, 25, 49, 1);
}

.card-description{
    font-size: 16px;
    color: rgba(98, 115, 130, 1);
}

.all-cards{
    display: flex;
    gap: 24px;
    margin: 0 120px;
    margin-bottom: 72px;
}

.page-heading{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 44px;
}

/* Solution page */
.solution-page{
    max-height: 600px;
    max-width: 1360px;
    margin: 0 120px;
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
}

.solution{
    font-size: 16px;
    font-weight: 500;
    color: rgba(70, 145, 101, 1);
}
.points{
    display: flex;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 25, 49, 1);
    margin-bottom: 16px;
}

.solution-con{
    margin-bottom: 40px;
}

/* bonus page styles */
.bonus{
    padding: 80px 40px;
    margin: 120px;
    max-height: 384px;
    max-width: 1360px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);
    text-align: center;
}
.custom-btn{
    margin-top: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer styles */

footer{
    max-width: 1600px;
    max-height: 348px;
    padding: 120px 120px 30px;
    background: rgba(0, 25, 49, 1);
}

.footer-part{
    max-width: 1360px;
    max-height: 64px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
}

footer p{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}
.links-container{
    display: flex;
    gap: 16px;
}

.rights-reserved{
    padding-top: 30px;
    margin-bottom: 30px;
    color: rgba(250, 250, 250, 1);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}